{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% block page_meta %}
  {% endblock %}

  {% autoescape off %}
    {% block page_css %}{% endblock %}
  {% endautoescape %}

  <title>{% block title %}{% endblock %}</title>

  <link rel="shortcut icon" type="image/jpg" href="{% static 'assets/favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/styles.min.css' %}" />

</head>
<body class="antialiased">
  
  {% block content %}
  {% endblock %}

  {% block modals %}
  {% endblock %}

  {% autoescape off %}
    {% block page_js %}
    {% endblock %}
  {% endautoescape %}

</body>
</html>