{% extends 'base/base.html' %}
{% load static %}

{% block title %}Elexion PH{% endblock %}

{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/slick/slick.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/slick/slick-theme.css' %}"/>
{% endblock %}

{% block body_class %} bg-white {% endblock %}

{% block content %}

  <header class="header relative lg:overflow-hidden">
    <div class="absolute inset-0 z-negative lg:opacity-100 opacity-100">
      <img class="object-cover w-full h-full" src="{% static 'assets/images/FirstFold_BG.png' %}" alt="Philippine Flag">
    </div>

    <nav class="md:p-3 py-2 px-3 z-10">
      <div class="container mx-auto md:flex block flex-wrap items-center justify-start">
        <div class="flex-1 flex items-center justify-between">
          <a href="#">
            <div class="flex items-center">
              <span class="font-black text-3xl tracking-wider text-white">ELEXI</span>
              <img class="h-8 w-5" src="{% static 'assets/images/Logo.png' %}" alt="elexion-logo" >
              <span class="font-black text-3xl tracking-wider text-white">N</span>
            </div>
          </a>
          <button data-menu-toggle class="md:hidden block pr-1 focus:outline-none">
            <svg class="fill-current text-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
          </button>
        </div>
        <ul data-menu class="md:flex hidden flex-wrap items-center justify-start text-white">
          <li class="md:px-6 py-2">
            <a href="#" class="text-brandb">Home</a>
          </li>
          <li class="md:px-6 py-2">
            <a href="#" class="">Election</a>
          </li>
          <li class="md:px-6 py-2">
            <a href="#" class="">Polls</a>
          </li>
          <li class="md:px-6 py-2">
            <a href="#" class="">About us</a>
          </li>
          <li class="md:px-6 py-2">
            <a href="#" class="">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mx-auto lg:mt-56 mt-12 lg:px-16 px-4 py-4">
      <div class="flex flex-col items-center justify-center">
        <div class="lg:w-4/6 w-3/4">
          <img class="h-full w-full" src="{% static 'assets/images/Heading_text.png' %}" alt="elexion-hero">
        </div>
        <p class="text-center text-white hidden">
          Make your votes count <br /> at the touch of your fingertips
        </p>
      </div>

      <div class="text-center lg:mt-48 mt-12">
        <button class="border-2 md:text-2xl text-base font-bold md:font-bold rounded-lg md:px-4 px-2 md-2 md:py-2 py-1 text-white border-white transition  hover:bg-white hover:text-black focus:outline-none">
          2022 Presidential Election
        </button>
      </div>
    </div>

  </header>

  <div class="hidden container mx-auto my-6 lg:px-16 px-4">
    <ul class="flex items-center leading-none text-gray-500">
      <li class="text-gray-300 pr-2">Our most popular election</li>
      <li class="pr-2">|</li>
      <li class="text-brandb pr-2">
        <a href="#" class="focus:outline-none">
          Browse all
        </a>
      </li>

    </ul>
  </div>

  <section class="h-full py-6 md:py-16">
    <div class="flex flex-col justify-between h-auto sm:h-full">
      <div class="ml-auto hidden sm:block">
        <img src="{% static 'assets/images/Line.png' %}" alt="line">
      </div>

      <div class="flex md:flex-row flex-col h-auto sm:h-4/6 md:h-5/6 items-center px-2 md:px-5">
        <div class="md:w-1/2 w-full flex justify-center pl-0 xl:pl-20">
          <div class="relative w-76 h-76 sm:w-64 sm:h-64 md:w-84 md:h-84 lg:w-112 lg:h-112 xl:w-136 xl:h-136">
            <div class="absolute w-full h-full z-negative">
              <img class="h-full w-full" src="{% static 'assets/images/second_fold_image.png' %}" alt="">
            </div>
            <div class="xl:ml-24 lg:ml-16 xl:mt-24 lg:mt-16 md:mt-12 md:ml-12 sm:mt-8 sm:ml-8 ml-10 mt-10">
              <span class="xl:text-5xl lg:text-2xl md:text-xl sm:text-base text-base font-serif font-black text-gray-300 uppercase leading-none md:leading-tight">Why make <br /> voting <br />complicated?</span>
              <p class="xl:text-base lg:text-sm md:text-sm sm:text-xs text-sm lg:mt-8 md:mt-4 w-2/3 text-gray-400 leading-snug sm:leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia facilis maxime repellendus obcaecati fuga.</p>

              <div class="w-24 sm:w-24 md:w-56 border-b border-blue-400 mt-2 sm:mt-2 lg:mt-5"></div>
              <p class="text-gray-200 sm:mt-1 md:mt-4 mt-1 md:text-base sm:text-sm text-sm lg:mt-8 xl:mt-12">Traxion Tech</p>
            </div>
          </div>
        </div>
        <div class="md:w-1/2 w-full mt-5 md:mt-0">
          <div class="w-full flex justify-center md:block mb-2 md:mb-0">
            <div class="border-2 rounded border-gray-300 xl:h-56 xl:w-96 lg:h-40 lg:w-76 md:h-32 md:w-56 sm:w-48 sm:h-24 w-32 h-20 inline-block relative mr-2 md:mr-2 lg:mr-2 xl:mr-6 md:mb-2 lg:mb-2 xl:mb-6">
              <div class="xl:h-40 lg:h-32 xl:w-24 lg:w-20 md:h-24 md:w-16 sm:h-16 sm:w-12 h-12 w-8 sm:ml-6 sm:mt-4 mt-2 ml-4 xl:mt-8 absolute">
                <img class="h-full w-full" src="{% static 'assets/images/logo_bg.png' %}" alt="">
              </div>
              <div class="flex justify-center md:mt-10 lg:mt-10 xl:mt-16 sm:mt-5 mt-5">
                <div class="mr-2 sm:mr-5">
                  <img class="md:h-12 lg:h-16 xl:h-24 sm:h-12 xs:h-10 h-8" src="{% static 'assets/images/transparent.png' %}" alt="">
                </div>
                <div class="md:mt-0 lg:mt-1 xl:mt-4">
                  <div class="font-serif text-gray-700 font-bold text-xs xs:text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl leading-snug">It should <br />be Transparent</div>
                  <div class="sm:mt-2 w-8 h-1 border-1 border-b border-brandr sm:border-0 bg-transparent sm:bg-brandr"></div>
                </div>
              </div>
            </div>
            <div class="border-2 rounded border-gray-300 xl:h-56 xl:w-96 lg:h-40 lg:w-76 md:h-32 md:w-56 sm:w-48 sm:h-24 w-32 h-20 inline-block md:mb-2 lg:mb-2 xl:mb-6">
                <div class="xl:h-40 lg:h-32 xl:w-24 lg:w-20 md:h-24 md:w-16 sm:h-16 sm:w-12 h-12 w-8 sm:ml-6 sm:mt-4 mt-2 ml-4 xl:mt-8 absolute">
                  <img class="h-full w-full" src="{% static 'assets/images/logo_bg.png' %}" alt="">
                </div>
                <div class="flex justify-center md:mt-10 lg:mt-10 xl:mt-16 sm:mt-5 mt-5">
                  <div class="mr-2 sm:mr-5">
                    <img class="md:h-12 lg:h-16 xl:h-24 sm:h-12 xs:h-10 h-8" src="{% static 'assets/images/realtime.png' %}" alt="">
                  </div>
                  <div class="md:mt-0 lg:mt-1 xl:mt-4">
                    <div class="font-serif text-gray-700 font-bold text-xs xs:text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl leading-snug">It should <br />be Realtime</div>
                    <div class="sm:mt-2 w-8 h-1 border-1 border-b border-brandr sm:border-0 bg-transparent sm:bg-brandr"></div>
                  </div>
                </div>
            </div>
          </div>
          <div class="w-full flex justify-center md:block">
            <div class="border-2 rounded border-gray-300 xl:h-56 xl:w-96 lg:h-40 lg:w-76 md:h-32 md:w-56 sm:w-48 sm:h-24 w-32 h-20 inline-block mr-2 md:mr-2 lg:mr-2 xl:mr-6 md:mb-2 lg:mb-2 xl:mb-6">
                <div class="xl:h-40 lg:h-32 xl:w-24 lg:w-20 md:h-24 md:w-16 sm:h-16 sm:w-12 h-12 w-8 sm:ml-6 sm:mt-4 mt-2 ml-4 xl:mt-8 absolute">
                  <img class="h-full w-full" src="{% static 'assets/images/logo_bg.png' %}" alt="">
                </div>
                <div class="flex justify-center md:mt-10 lg:mt-10 xl:mt-16 sm:mt-5 mt-5">
                  <div class="mr-2 sm:mr-5">
                    <img class="md:h-12 lg:h-16 xl:h-24 sm:h-12 xs:h-10 h-8" src="{% static 'assets/images/unalterable.png' %}" alt="">
                  </div>
                  <div class="md:mt-0 lg:mt-1 xl:mt-4">
                    <div class="font-serif text-gray-700 font-bold text-xs xs:text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl leading-snug">It should <br />be Unalterable</div>
                    <div class="sm:mt-2 w-8 h-1 border-1 border-b border-brandr sm:border-0 bg-transparent sm:bg-brandr"></div>
                  </div>
                </div>
            </div>
            <div class="border-2 rounded border-gray-300 xl:h-56 xl:w-96 lg:h-40 lg:w-76 md:h-32 md:w-56 sm:w-48 sm:h-24 w-32 h-20 inline-block">
                <div class="xl:h-40 lg:h-32 xl:w-24 lg:w-20 md:h-24 md:w-16 sm:h-16 sm:w-12 h-12 w-8 sm:ml-6 sm:mt-4 mt-2 ml-4 xl:mt-8 absolute">
                  <img class="h-full w-full" src="{% static 'assets/images/logo_bg.png' %}" alt="">
                </div>
                <div class="flex justify-center md:mt-10 lg:mt-10 xl:mt-16 sm:mt-5 mt-5">
                  <div class="mr-2 sm:mr-5">
                    <img class="md:h-12 lg:h-16 xl:h-24 sm:h-12 xs:h-10 h-8" src="{% static 'assets/images/anony.png' %}" alt="">
                  </div>
                  <div class="md:mt-0 lg:mt-1 xl:mt-4">
                    <div class="font-serif text-gray-700 font-bold text-xs xs:text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl leading-snug">It should <br />be Anonymous</div>
                    <div class="sm:mt-2 w-8 h-1 border-1 border-b border-brandr sm:border-0 bg-transparent sm:bg-brandr"></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="hidden sm:block">
        <img class="transform rotate-180" src="{% static 'assets/images/Line.png' %}" alt="line">
      </div>
    </div>
  </section>

  <section class="w-full h-auto">
    <div class="relative h-64 xs:h-84 sm:h-112 md:h-130 w-100">
      <div class="absolute z-negative h-full w-full">
        <img class="object-cover w-full h-full" src="{% static 'assets/images/3rd_fold.png' %}" alt="elexion-choice">
      </div>

      <div class="flex items-center w-full h-full">
        <div class="w-1/2 flex pl-2 xs:pl-0 xs:ml-4 sm:ml-5 lg:ml-32 mr-5">
          <div class="flex flex-col">
            <div class="xl:text-10xl md:text-6xl sm:text-6xl xs:text-4xl text-3xl font-serif font-black text-gray-200 mb-2 xs:mb-6 sm:mb-12 leading-none">Elections</div>
            <div class="xl:text-3xl md:text-2xl sm:text-xl xs:text-lg text-sm xl:w-1/2 md:w-3/4 w-full text-white mb-4 sm:mb-6 md:mb-12">browse and participate elections throughout the nation.</div>
            <div class="h-1 w-32 bg-brandy hidden"></div>
            <div class="">
              <button class="border-2 border-white rounded-lg px-2 xs:px-4 py-1 xs:py-2 sm:text-lg xs:text-sm text-sm font-bold text-white transition hover:bg-white hover:text-gray-800 focus:outline-none">Create Election</button>
            </div>
          </div>
        </div>
        <div class="w-1/2 flex pl-2 xs:pl-0 xs:ml-4 sm:ml-5 lg:ml-32 mr-5">
          <div class="flex flex-col">
            <div class="xl:text-10xl md:text-6xl sm:text-6xl xs:text-4xl text-3xl font-serif font-black text-gray-200 mb-2 xs:mb-6 sm:mb-12 leading-none">Polls</div>
            <div class="xl:text-3xl md:text-2xl sm:text-xl xs:text-lg text-sm xl:w-1/2 md:w-3/4 w-full text-white mb-4 sm:mb-6 md:mb-12">browse and participate elections throughout the nation.</div>
            <div class="h-1 w-32 bg-brandy hidden"></div>
            <div>
              <button class="border-2 border-white rounded-lg px-2 xs:px-4 py-1 xs:py-2 sm:text-lg xs:text-sm text-sm font-bold text-white transition hover:bg-white hover:text-gray-800 focus:outline-none">Create Poll</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white h-auto">
    <div class="container mx-auto lg:px-4 px-2 lg:py-12 py-6">
      <div class="md:text-4xl xs:text-2xl text-lg text-gray-800 font-slate font-bold tracking-wide text-center">
        Who is your Candidates for 2022 Presidential Election?
      </div>

      <div class="md:mt-12 mt-6 relative candidate-carousel mb-5">

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Dick Gordon</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Richard Juico Gordon, known as Dick Gordon, is a Filipino politician and broadcaster who currently serves as a Senator of the Philippines and the chairman of the Philippine Red Cross.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/9yNZ8dA0byFoVNXMoCCB0YjqgFhyzdTZeCTwVfTJ.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Gordon, Richard J.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Ping Lacson</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Panfilo "Ping" Morena Lacson Sr. is a Filipino senator who served from 2001 to 2013; and again from 2016 to the present.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/pr4ggigxOf82QcLIQ7me8T5Gjp2kNUOCkbreQDSx.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Lacson, Panfilo M.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Bongbong Marcos</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Ferdinand "Bongbong" Romualdez Marcos Jr. is a Filipino politician who most recently served as a senator in the 16th Congress.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/LXYe6VKk5QjJVHybaq5RyBXqdDoMUg1gKZnyOlbG.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Marcos, Ferdinand Jr. Romualdez
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Former Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Inday Sara</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit illo totam alias odio. Eveniet odit nemo quaerat? Deserunt voluptatum dignissimos adipisci odio
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/axMBhJ9c501prliXdVFylIQ3Y9nLEYi9GwKWpQcg.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Duterte, Sarah Z.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Mayor of Davao
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Manny Pacquiao</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Emmanuel Dapidran Pacquiao is a Filipino professional boxer and politician currently serving as a Senator of the Philippines since 2016.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/ixCxeMwOJw1xPlaA6HJYrJkj70ngwRgOPCfkN5Zj.png" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Pacquiao, Emmanuel D.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Yorme Isko</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Isko Moreno and colloquially as Yorme Isko, is a Filipino politician who currently serves as the 27th Mayor of Manila since 2019.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/AahejLFijNva0dXYlsI0YB7TQ3LFRH0qYaI5lUbS.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Domagoso, Francisco M.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Mayor of Manila
              </div> 
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="bg-white h-auto">
    <div class="container mx-auto lg:px-4 px-2 lg:py-12 py-6">
      <div class="md:text-4xl xs:text-2xl text-lg text-gray-800 font-slate font-bold tracking-wide text-center">
        Best in Metro Manila
      </div>

      <div class="md:mt-12 mt-6 relative candidate-carousel mb-5">

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Dick Gordon</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Richard Juico Gordon, known as Dick Gordon, is a Filipino politician and broadcaster who currently serves as a Senator of the Philippines and the chairman of the Philippine Red Cross.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/9yNZ8dA0byFoVNXMoCCB0YjqgFhyzdTZeCTwVfTJ.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Gordon, Richard J.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Ping Lacson</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Panfilo "Ping" Morena Lacson Sr. is a Filipino senator who served from 2001 to 2013; and again from 2016 to the present.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/pr4ggigxOf82QcLIQ7me8T5Gjp2kNUOCkbreQDSx.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Lacson, Panfilo M.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Bongbong Marcos</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Ferdinand "Bongbong" Romualdez Marcos Jr. is a Filipino politician who most recently served as a senator in the 16th Congress.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/LXYe6VKk5QjJVHybaq5RyBXqdDoMUg1gKZnyOlbG.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Marcos, Ferdinand Jr. Romualdez
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Former Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Inday Sara</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit illo totam alias odio. Eveniet odit nemo quaerat? Deserunt voluptatum dignissimos adipisci odio
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/axMBhJ9c501prliXdVFylIQ3Y9nLEYi9GwKWpQcg.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Duterte, Sarah Z.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Mayor of Davao
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Manny Pacquiao</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Emmanuel Dapidran Pacquiao is a Filipino professional boxer and politician currently serving as a Senator of the Philippines since 2016.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/ixCxeMwOJw1xPlaA6HJYrJkj70ngwRgOPCfkN5Zj.png" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Pacquiao, Emmanuel D.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Senator
              </div> 
            </div>
          </div>
        </div>

        <div class="">
          <div class="flex-shrink-0 lg:w-56 w-24 md:w-40 ">
            <a href="#" class="relative group block focus:outline-none">
              <div class="transition absolute inset-0 bg-gray-900 opacity-75 hidden group-hover:flex flex-col justify-end text-white px-2 md:px-4 py-4 cursor-pointer">
                <div>
                  <h3 class="text-xs md:text-lg mb-1 lg:mb-2">Yorme Isko</h3>
                  <p class="text-xxs md:text-xs leading-none lg:leading-normal lg:text-sm">
                    Isko Moreno and colloquially as Yorme Isko, is a Filipino politician who currently serves as the 27th Mayor of Manila since 2019.
                  </p>
                </div>
              </div>
              <img class="object-cover w-24 h-32 md:h-48 md:w-40 lg:h-76 lg:w-56" src="https://elexion.ph/storage/candidates/AahejLFijNva0dXYlsI0YB7TQ3LFRH0qYaI5lUbS.jpeg" alt="">
            </a>
            <div class="mt-2 mb-1 flex items-center">
              <div class="hidden sm:block">
                <svg class="fill-current text-xs xs:text-base text-brandr w-4 h-4 mr-1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M972 380c9 28 2 50-20 67L725 619l87 280c11 39-18 75-54 75-12 0-23-4-33-12L499 790 273 962a58 58 0 0 1-78-12 50 50 0 0 1-8-51l86-278L46 447c-21-17-28-39-19-67 8-24 29-40 52-40h280l87-279c7-23 28-39 52-39 25 0 47 17 54 41l87 277h280c24 0 45 16 53 40z"/></svg>
              </div>
              <div class="font-bold text-sm xs:text-base lg:text-2xl text-brandr">
                15,970,018
              </div>
            </div>
            <div class="mt-0">
              <div class="lg:text-lg xs:text-base text-xs font-bold text-gray-800">
                Domagoso, Francisco M.
              </div>
              <div class="text-xs xs:text-sm text-gray-600">
                Mayor of Manila
              </div> 
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
 
  <section class="w-full">
    <div class="relative w-100 h-24 sm:h-40">
      <div class="w-full h-full absolute z-negative bg-blue-500 opacity-75">
        <img class="w-full object-cover h-full" src="{% static 'assets/images/FirstFold_BG.png' %}" alt="">
      </div>

      <div class="flex justify-center h-full">
        <div class="flex flex-col items-center justify-center">
          <div class="text-white font-black text-2xl sm:text-3xl tracking-wide uppercase font-slate">Share this page</div>
          <div class="flex">
            <div>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="text-white fill-current h-8 w-8 sm:h-16 sm:w-16" viewBox="0 0 512 512.0004"><defs/><linearGradient id="b" x1="169.994" x2="299.4934" y1="71.9862" y2="349.0548" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#3457a0"/><stop offset="1" stop-color="#3b5998"/></linearGradient><linearGradient id=""><stop offset="0" stop-color="#3457a0" stop-opacity="0"/><stop offset="1" stop-color="#1f3f77"/></linearGradient><linearGradient id="" x1="353.1235" x2="-94.448" y1="322.7333" y2="15.2083" gradientUnits="userSpaceOnUse" xlink:href="#x"/><linearGradient id="x" x1="256.0003" x2="256.0003" y1="427.8732" y2="497.1566" gradientUnits="" xlink:href="#a"/><linearGradient id="e" x1="587.7778" x2="232.4072" y1="422.8295" y2="243.6384" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#3457a0" stop-opacity="0"/><stop offset=".3251" stop-color="#2a4c8d" stop-opacity=".3255"/><stop offset=".7045" stop-color="#22427d" stop-opacity=".7059"/><stop offset="1" stop-color="#1f3f77"/></linearGradient><path fill="url(#b)" d="M420.4219 503.2344c-109.504 11.6875-219.3399 11.6875-328.8438 0-43.664-4.6602-78.1523-39.1485-82.8125-82.8164-11.6875-109.504-11.6875-219.336 0-328.8399 4.6602-43.664 39.1485-78.1523 82.8125-82.8125 109.504-11.6875 219.336-11.6875 328.8399 0 43.668 4.6602 78.1562 39.1485 82.8164 82.8125 11.6875 109.504 11.6875 219.336 0 328.8399-4.6602 43.668-39.1446 78.1562-82.8125 82.8164zm0 0"/><path fill="url(#c)" d="M475.3867 110.0977c-4.1328-38.7461-34.7344-69.3516-73.4844-73.4883-97.1718-10.3672-194.6328-10.3672-291.8046 0-38.7461 4.1367-69.3516 34.7422-73.4883 73.4883-10.3672 97.1718-10.3672 194.6328 0 291.8007 4.1367 38.75 34.7422 69.3555 73.4883 73.4883 97.1718 10.3711 194.6328 10.3711 291.8007 0 38.75-4.1328 69.3555-34.7383 73.4883-73.4883 10.3711-97.168 10.3711-194.6289 0-291.8007zm0 0"/><path fill="url(#d)" d="M7.6719 409.8047c.3515 3.539.7148 7.0781 1.0937 10.6172 4.6602 43.664 39.1485 78.1523 82.8164 82.8125 109.504 11.6875 219.336 11.6875 328.8399 0 43.668-4.6602 78.1523-39.1485 82.8125-82.8125.3789-3.539.7422-7.0781 1.0976-10.6172zm0 0"/><path fill="url(#e)" d="M344.2148 85.2695c-44.6093 0-80.7695 36.164-80.7695 80.7735v60.332h-43.4687v74.6992l43.4687 38.9336v171.9688c52.3516-.254 104.6992-3.1641 156.9766-8.7422 43.668-4.6602 78.1523-39.1485 82.8125-82.8164 8.6953-81.4766 10.918-163.1328 6.6719-244.7032l-90.4454-90.4453zm0 0"/><path fill="#fff" d="M263.4453 511.9766c29.832-.1446 59.6602-1.1563 89.4766-3.0313v-207.871h59.3672l7.1718-74.6993h-66.539v-47.4336c0-10.4766 8.4922-18.9687 18.9687-18.9687h47.5703V85.2695h-75.246c-44.6094 0-80.7696 36.164-80.7696 80.7735v60.332h-43.4687v74.6992h43.4687zm0 0"/></svg>            </div>
              </a>
            <div class="px-8">
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="text-white fill-current h-8 w-8 sm:h-16 sm:w-16" viewBox="0 0 512 512.0004"><defs/><linearGradient id="b" x1="169.994" x2="299.4934" y1="71.9862" y2="349.0548" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#00c3ff"/><stop offset="1" stop-color="#00b0ed"/></linearGradient><linearGradient id="a"><stop offset="0" stop-color="#00b0ed" stop-opacity="0"/><stop offset="1" stop-color="#00a2ce"/></linearGradient><linearGradient id="c" x1="364.2825" x2="-379.5864" y1="314.0868" y2="-84.9522" gradientUnits="userSpaceOnUse" xlink:href="#a"/><linearGradient id="d" x1="256.0003" x2="256.0003" y1="437.3832" y2="504.472" gradientUnits="userSpaceOnUse" xlink:href="#a"/><linearGradient id="e" x1="489.421" x2="239.2937" y1="482.0724" y2="231.9451" gradientUnits="userSpaceOnUse" xlink:href="#a"/><path fill="url(#b)" d="M420.4219 503.2344c-109.504 11.6875-219.3399 11.6875-328.8438 0-43.664-4.6602-78.1523-39.1485-82.8125-82.8164-11.6875-109.504-11.6875-219.336 0-328.8399 4.6602-43.664 39.1485-78.1523 82.8125-82.8125 109.504-11.6875 219.336-11.6875 328.8399 0 43.668 4.6602 78.1562 39.1485 82.8164 82.8125 11.6875 109.504 11.6875 219.336 0 328.8399-4.6602 43.668-39.1446 78.1562-82.8125 82.8164zm0 0"/><path fill="url(#c)" d="M475.3867 110.0977c-4.1328-38.7461-34.7344-69.3516-73.4844-73.4883-97.1718-10.3672-194.6328-10.3672-291.8046 0-38.7461 4.1367-69.3516 34.7422-73.4883 73.4883-10.3672 97.1718-10.3672 194.6328 0 291.8007 4.1367 38.75 34.7422 69.3555 73.4883 73.4883 97.1718 10.3711 194.6328 10.3711 291.8007 0 38.75-4.1328 69.3555-34.7383 73.4883-73.4883 10.3711-97.168 10.3711-194.6289 0-291.8007zm0 0"/><path fill="url(#d)" d="M7.6719 409.8047c.3515 3.539.7148 7.0781 1.0937 10.6172 4.6602 43.664 39.1485 78.1523 82.8164 82.8125 109.504 11.6875 219.336 11.6875 328.8399 0 43.668-4.6602 78.1523-39.1485 82.8125-82.8125.3789-3.539.7422-7.0781 1.0976-10.6172zm0 0"/><path fill="url(#e)" d="M511.8906 238.0078L405.6133 131.7344c-11.9102 6.8086-22.4063 10.586-30.3125 12.6797-4.4453 1.1914-8.0742 1.8398-10.6836 2.1953-11.9844-12.2852-28.7188-19.914-47.2422-19.914-36.4453 0-65.996 29.5468-65.996 66 0 1.3163.035 2.6171.121 3.914.1758 3.1601.5781 6.2656 1.1992 9.2851-15.2148-.2265-64.668-4.289-111.832-44.7187-.004 0-.004-.004-.004-.004h-.0038l-22.2422-22.246s-26.0938 45.543 12.2695 80.1015c1.6836 1.879 3.5352 3.7344 5.5625 5.5586.1602.1797.3281.3555.4883.5352-5.0352-.3399-20.1797-1.8477-28.9453-8.039 0 0-1.7617 27.8359 21.4297 48.328l18.7265 18.8868c-5.703.4726-12.0117.3594-16.3984-1.5625 0 0 3.8828 16.4883 18.8906 29.6836l26.2344 26.371c-15.7383 9.168-43.289 20.6407-79.5547 17.711L256.4648 512c54.6797-.0156 109.3594-2.9375 163.957-8.7656 43.668-4.6602 78.1563-39.1485 82.8165-82.8125 6.4805-60.7422 9.3594-121.586 8.6523-182.414zm0 0"/><path fill="#fff" d="M414.6836 157.3672c-11.3281 5.9258-28.3906 8.664-34.0469 9.4531a107.1579 107.1579 0 00-.1406-.7969c19.2305-11.8945 25.1172-34.289 25.1172-34.289-11.9102 6.8086-22.4063 10.586-30.3125 12.6797-4.4453 1.1914-8.0742 1.8359-10.6836 2.1953-11.9844-12.289-28.7188-19.914-47.2422-19.914-36.4453 0-65.996 29.5429-65.996 66 0 1.3124.035 2.6171.121 3.91.1758 3.1602.5781 6.2657 1.1992 9.2852-17.6406-.2617-81.3164-5.6719-134.082-66.9648 0 0-29.3828 51.2656 20.0156 86.2851 0 0-20.0156-.625-30.6406-8.1289 0 0-3.125 49.3985 53.7695 65.0235 0 0-20.0039 5.0078-30.0156.6289 0 0 10.0078 42.5156 60.0273 45.6484 0 0-35.875 32.8438-94.457 28.1172 28.8125 18.2422 62.9727 28.8008 99.5977 28.8008 102.9804 0 186.4648-83.4805 186.4648-186.461 0-1.2851-.0117-2.5703-.039-3.8554.0273-.7617.039-1.5196.039-2.289 0-.5352-.0117-1.0704-.0195-1.6056 19.039-12.6875 31.3242-33.7226 31.3242-33.7226zm0 0"/></svg>            </div>
              </a>
            <div>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="text-white fill-current h-8 w-8 sm:h-16 sm:w-16" viewBox="0 0 512 512.0004"><defs/><radialGradient id="b" cx="104.9571" cy="447.4474" r="564.6459" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fae100"/><stop offset=".0544" stop-color="#fadc04"/><stop offset=".1167" stop-color="#fbce0e"/><stop offset=".1829" stop-color="#fcb720"/><stop offset=".2514" stop-color="#fe9838"/><stop offset=".3054" stop-color="#ff7950"/><stop offset=".4922" stop-color="#ff1c74"/><stop offset="1" stop-color="#6c1cd1"/></radialGradient><linearGradient id="c" x1="196.3727" x2="-671.016" y1="222.4597" y2="-265.4464" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#a1b5d8" stop-opacity="0"/><stop offset=".3094" stop-color="#90a2bd" stop-opacity=".3098"/><stop offset=".7554" stop-color="#7c8b9c" stop-opacity=".7569"/><stop offset="1" stop-color="#748290"/></linearGradient><linearGradient id="d" x1="256.0003" x2="256.0003" y1="451.9661" y2="531.774" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fae100" stop-opacity="0"/><stop offset=".3068" stop-color="#fca800" stop-opacity=".3059"/><stop offset=".6275" stop-color="#fe7300" stop-opacity=".6275"/><stop offset=".8685" stop-color="#ff5200" stop-opacity=".8667"/><stop offset="1" stop-color="#ff4500"/></linearGradient><linearGradient id="a"><stop offset="0" stop-color="#833ab4" stop-opacity="0"/><stop offset="1" stop-color="#833ab4"/></linearGradient><linearGradient id="e" x1="226.8724" x2="100.1607" y1="226.148" y2="99.4362" gradientUnits="userSpaceOnUse" xlink:href="#a"/><linearGradient id="f" x1="350.8995" x2="287.6556" y1="468.2874" y2="170.1376" gradientUnits="userSpaceOnUse" xlink:href="#a"/><linearGradient id="g" x1="374.9651" x2="120.9411" y1="374.965" y2="120.9409" gradientUnits="userSpaceOnUse" xlink:href="#a"/><linearGradient id="h" x1="393.8067" x2="309.8058" y1="221.2631" y2="137.2623" gradientUnits="userSpaceOnUse" xlink:href="#a"/><linearGradient id="i" x1="357.6582" x2="150.5426" y1="155.0495" y2="362.1652" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#833ab4"/><stop offset=".0922" stop-color="#9c3495"/><stop offset=".2927" stop-color="#dc2546"/><stop offset=".392" stop-color="#fd1d1d"/><stop offset=".5589" stop-color="#fc6831"/><stop offset=".6887" stop-color="#fc9b40"/><stop offset=".7521" stop-color="#fcaf45"/><stop offset=".7806" stop-color="#fdb750"/><stop offset=".8656" stop-color="#fecb6a"/><stop offset=".9415" stop-color="#ffd87a"/><stop offset="1" stop-color="#ffdc80"/></linearGradient><path fill="url(#b)" d="M503.2344 91.5781c-4.6602-43.664-39.1446-78.1562-82.8125-82.8125-109.5078-11.6875-219.336-11.6875-328.8399 0-43.668 4.6602-78.1562 39.1485-82.8164 82.8125-11.6875 109.504-11.6875 219.336 0 328.8399 4.6602 43.668 39.1485 78.1562 82.8125 82.8164 109.504 11.6875 219.336 11.6875 328.8438 0 43.668-4.6602 78.1523-39.1485 82.8125-82.8164 11.6875-109.504 11.6875-219.332 0-328.8399zm0 0"/><path fill="url(#c)" d="M475.3867 110.0977c-4.1328-38.7461-34.7344-69.3516-73.4844-73.4883-97.1718-10.3672-194.6328-10.3672-291.8046 0-38.7461 4.1367-69.3516 34.7422-73.4883 73.4883-10.3672 97.1718-10.3672 194.6328 0 291.8007 4.1367 38.75 34.7422 69.3555 73.4883 73.4883 97.1718 10.3711 194.6328 10.3711 291.8007 0 38.75-4.1328 69.3555-34.7383 73.4883-73.4883 10.3711-97.168 10.3711-194.6289 0-291.8007zm0 0"/><path fill="url(#d)" d="M7.6719 409.8047c.3515 3.539.7148 7.0781 1.0937 10.6172 4.6602 43.664 39.1485 78.1523 82.8164 82.8125 109.504 11.6875 219.336 11.6875 328.8399 0 43.668-4.6602 78.1523-39.1485 82.8125-82.8125.3789-3.539.7422-7.0781 1.0976-10.6172zm0 0"/><path fill="url(#e)" d="M503.2344 420.418c6.2812-58.8399 9.1797-117.7735 8.711-176.6992L394.914 126.6875c-14.6211-16.6914-35.9766-27.1094-61.0704-28.0117-51.6054-1.8594-103.375-1.7656-154.9882.0078-42.8672 1.4766-72.8438 30.289-80.5313 72.6367-1.3555 7.4766-2.168 15.0508-3.2344 22.582v124.1485c.5899 4.0234 1.457 8.0273 1.7266 12.0742 1.7188 25.7578 12.3047 47.8203 29.254 62.746l119.0937 119.09c58.4453.41 116.8945-2.4962 175.2578-8.7266 43.668-4.6602 78.1523-39.1485 82.8125-82.8164zm0 0"/><path fill="url(#f)" d="M503.2344 420.4219c-4.6563 43.6601-39.1524 78.1562-82.8125 82.8125-58.3555 6.2265-116.8164 9.1367-175.254 8.7265L126.254 393.047c13.7852 12.0664 31.754 19.414 52.6055 20.1992 51.6015 1.9375 103.3828 1.8867 154.9844.0273 46.6718-1.6875 80.4453-36.2304 81.9023-82.9023a2373.9812 2373.9812 0 000-148.793c-.664-21.5312-8.2227-40.4765-20.754-54.8125l116.9571 116.957c.461 58.918-2.4375 117.8594-8.7148 176.6993zm0 0"/><path fill="url(#g)" d="M316.414 200.5586c-14.9921-16.3242-36.5038-26.5664-60.414-26.5664-45.289 0-82.0078 36.7187-82.0078 82.0078 0 23.9102 10.2422 45.4219 26.5664 60.414l189.7383 189.7383a1564.245 1564.245 0 0030.121-2.918c43.668-4.66 78.1563-39.1484 82.8165-82.8163a1564.245 1564.245 0 002.918-30.1211zm0 0"/><path fill="url(#h)" d="M511.0078 311.1523L358.3047 158.4531c-3.5625-4.6758-9.1758-7.711-15.5078-7.711-10.7735 0-19.5117 8.7345-19.5117 19.5118 0 6.332 3.0351 11.9453 7.7109 15.5078L508.2773 363.047a1537.4381 1537.4381 0 002.7305-51.8946zm0 0"/><path fill="url(#i)" d="M95.0898 193.9023c1.0665-7.5312 1.879-15.1054 3.2344-22.582 7.6836-42.3476 37.664-71.1601 80.5313-72.6367 51.6132-1.7734 103.3828-1.8672 154.9882-.0078 46.6563 1.6797 80.4454 36.2265 81.9024 82.8984a2380.0826 2380.0826 0 010 148.7969c-1.457 46.6719-35.2344 81.2148-81.8984 82.8984-51.6055 1.8633-103.3868 1.9102-154.9883-.0273-46.664-1.754-78.9219-36.379-82.043-83.1211-.2695-4.043-1.1367-8.0508-1.7266-12.0742V193.9023zm160.9532 191.707c23.6172 0 47.2578.7071 70.8437-.164 36.9805-1.371 59.7266-23.4414 60.5899-60.3867a2973.2805 2973.2805 0 000-138.1719c-.8633-36.9375-23.625-59.5234-60.5899-60.3086-46.918-.9922-93.8867-.9844-140.8047 0-36.6836.7696-59.496 22.8985-60.4922 59.4297a2579.0966 2579.0966 0 000 139.9336c.9961 36.5273 23.8086 58.1445 60.4961 59.504 23.2891.8671 46.6368.164 69.957.164zm0 0"/><g fill="#fff"><path d="M95.0898 193.9023c1.0665-7.5312 1.879-15.1054 3.2344-22.582 7.6836-42.3476 37.664-71.1601 80.5313-72.6367 51.6132-1.7734 103.3828-1.8672 154.9882-.0078 46.6563 1.6797 80.4454 36.2265 81.9024 82.8984a2380.0826 2380.0826 0 010 148.7969c-1.457 46.6719-35.2344 81.2148-81.8984 82.8984-51.6055 1.8633-103.3868 1.9102-154.9883-.0273-46.664-1.754-78.9219-36.379-82.043-83.1211-.2695-4.043-1.1367-8.0508-1.7266-12.0742V193.9023zm160.9532 191.707c23.6172 0 47.2578.7071 70.8437-.164 36.9805-1.371 59.7266-23.4414 60.5899-60.3867a2973.2805 2973.2805 0 000-138.1719c-.8633-36.9375-23.625-59.5234-60.5899-60.3086-46.918-.9922-93.8867-.9844-140.8047 0-36.6836.7696-59.496 22.8985-60.4922 59.4297a2579.0966 2579.0966 0 000 139.9336c.9961 36.5273 23.8086 58.1445 60.4961 59.504 23.2891.8671 46.6368.164 69.957.164zm0 0"/><path d="M256 173.996c-45.289 0-82.0078 36.715-82.0078 82.004 0 45.293 36.7187 82.0078 82.0078 82.0078 45.293 0 82.0078-36.7148 82.0078-82.0078 0-45.289-36.7148-82.004-82.0078-82.004zm0 135.7774c-29.6992 0-53.7734-24.0742-53.7734-53.7734S226.3008 202.2266 256 202.2266 309.7734 226.3008 309.7734 256 285.6992 309.7734 256 309.7734zm0 0M362.3047 170.254c0 10.7733-8.7344 19.5077-19.5078 19.5077s-19.5117-8.7344-19.5117-19.5078c0-10.7773 8.7382-19.5117 19.5117-19.5117s19.5078 8.7344 19.5078 19.5117zm0 0"/></g></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="relative w-100 sm:h-40 sm:h-76">
      <div class="w-full h-full absolute z-negative">
        <img class="w-full object-cover h-full" src="{% static 'assets/images/last.png' %}" alt="">
      </div>

      <div class="mx-2 sm:mx-4 md:mx-32 py-8">
        <div class="flex flex-row">
          <div class="flex flex-col text-white w-1/3">
            <div class="flex items-center mb-2 xs:mb-4">
              <span class="font-black sm:text-2xl md:text-4xl lg:text-6xl tracking-wider text-white leading-none">ELEXI</span>
              <img class="h-8 w-5 sm:h-12 lg:h-16 sm:w-8 lg:w-10" src="{% static 'assets/images/Logo.png' %}" alt="elexion-logo" >
              <span class="font-black sm:text-2xl md:text-4xl lg:text-6xl tracking-wider text-white leading-none">N</span>
            </div>
            <div class="text-xs sm:text-sm md:text-base  mb-2">
              Powered by <br /> Traxion Tech Inc.
            </div>
            <div class="text-xs sm:text-sm md:text-base mb-2">
              Contact us at
            </div>
            <div>
              <a href="#" class="text-xs focus:outline-none border-1 border-b border-white sm:text-sm md:text-base">
                info@traxiontech.net
              </a>
            </div>
          </div>
          <div class="w-2/3 text-white xs:pl-0 pl-5">
            <div class="flex w-full justify-around">
              <div class="mr-2">
                <div class="font-bold sm:text-sm lg:text-lg">Manila, Philippines</div>
                <div>
                  <p class="text-xs sm:text-sm lg:text-base">
                    10th floor Taipan Place<br />
                    24th Emerald Avenue, Ortigas Center<br />
                    Pasig City, Philippines
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}